:root {
  --grey: #808080;
  --blue: #0000ff;
  --light-blue: #00aaa9;
}
.desktop {
  width: 100vw;
  height: 94vh;
  background-color: var(--light-blue);
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

/* app */
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 5vw;
  text-align: center;
}
.app_icon {
  height: 6vh;
  width: 3vw;
}
.app_name {
  text-decoration: none;
  color: black;
}
.iten_button {
  width: 5vw;
  height: 8vh;
  border: none;
  background-color: transparent;
}
.iten_button:hover {
  cursor: pointer;
}

/* Explorer Bar */
.explorer_bar {
  height: 6vh;
  background-color: var(--grey);
  box-sizing: border-box;
  padding: 5px;
  display: flex;
}
.start_button {
  display: flex;
}
.win_button {
  width: 6vw;
  height: 5vh;
  align-items:center;
}
.win_logo_explorer_bar {
  width: 2vw;
  height: 4vh;
}
.win_icon {
  width: 2vw;
  height: 3vh;
}
.start {
  display: inline;
  font-size: 18px;
}
.space {
  width: 2px;
  height: 50px;
  background-color: rgba(211, 211, 211, 0.527);
  margin-left: 5px;
}
.open_pages {
  width:90vw;
}

/* Start menu */
.start_menu {
  background-color:white;
  position:fixed;
  height: 300px;
  width:200px;
  bottom: 56px;
  left:2px;
  display:flex; 
  padding:0 0 4px 4px;
}
.start_menu_left_bar {
  background: linear-gradient(360deg,navy,#1084d0);
  height: 300px;
  width:40px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  padding-bottom: 5px;
}
.left_bar_text {
  font-weight:bold;
  font-size:18px;
  color:white;
}
.start_menu_itens {
  display:flex;
  flex-direction:column;
  width:90%;
}
.start_menu_item {
  padding: 10px 0 10px 0;
}
.start_menu_item:hover {
  border: 2px solid black;
}

.arrow_right {
  margin-left:60%;
  font-weight:bold;
}


/* App window*/
.app_window {
  width: 80%;
  height:80%;
  margin: 0 auto;
}
/*App window for calculator*/

.app_window {
  width: 20%;
  height: 20%;
}
/* calculator */



/*DISABLE DISPLAY VIEW*/
.disabled {
  display:none;
}