@import url("../Projects/Cep/style.css");
@import url("../Projects/Calculadora/style.css");
@import url("../Projects/Tempo/style.css");
@import url("../Projects/credict/style.css");

:root {
  --grey: #808080;
  --blue: #0000ff;
  --light-blue: #00aaa9;
}

.desktop {
  width: 100vw;
  height: 94vh;
  background-color: var(--light-blue);
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

/* app */
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 5vw;
  text-align: center;
}
.app_icon {
  height: 6vh;
  width: 3vw;
}
.app_name {
  text-decoration: none;
  color: black;
}
.iten_button {
  width: 5vw;
  height: 8vh;
  border: none;
  background-color: transparent;
}
.iten_button:hover {
  cursor: pointer;
}

/* Explorer Bar */
.explorer_bar {
  height: 6vh;
  background-color: silver;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
}
.start_button {
  display: flex;
}
.win_button {
  width: 100px;
  height: 5vh;
  display: flex;
  align-items: center;
}
.start {
  margin-left: 5px;
}

.win_logo_explorer_bar {
  width: 2vw;
  height: 4vh;
}
.win_icon {
  width: 2vw;
  height: 3vh;
}
.start {
  display: inline;
  font-size: 18px;
}
.space {
  width: 2px;
  height: 35px;
  background-color: black;
  margin-left: 5px;
}
.open_pages {
  width: 90%;
  padding: 0 5px 0 5px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.open_app_tab {
  max-width: 200px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px 2px 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: #d9d9d9;
  box-shadow: inset 4px 4px 0px -1px rgba(0, 0, 0, 0.25),
    inset -7px -7px 0px -3px rgba(251, 246, 246, 0.57);
}
.credit {
  box-shadow: inset 4px 4px 0px -2px rgba(0, 0, 0, 0.25),
    inset -7px -7px 0px -6px rgba(251, 246, 246, 0.57);
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}

/* Start menu */
.start_menu {
  background-color: white;
  position: fixed;
  height: 300px;
  width: 200px;
  bottom: 56px;
  left: 2px;
  display: flex;
  padding: 0 0 4px 4px;
}
.start_menu_left_bar {
  background: linear-gradient(360deg, navy, #1084d0);
  height: 300px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}
.left_bar_text {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.start_menu_itens {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.start_menu_item {
  padding: 10px 0 10px 0;
}
.start_menu_item:hover {
  border: 2px solid black;
}

.arrow_right {
  margin-left: 60%;
  font-weight: bold;
}

/*CHANGE DISPLAY VIEW*/
.disabled {
  display: none;
}
.enable {
  display: block;
}
.minimized {
  box-shadow: 3px 3px 2px 0px #000000, -3px -3px 2px 0px #ffffff;
}
