:root {
  --grey: #808080;
  --blue: #0000ff;
  --light-blue: #00aaa9;
}

.desktop {
  width: 100vw;
  height: 94vh;
  background-color: var(--light-blue);
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

/* app */
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 5vw;
  text-align: center;
}
.app_icon {
  height: 6vh;
  width: 3vw;
}
.app_name {
  text-decoration: none;
  color: black;
}
.iten_button {
  width: 5vw;
  height: 8vh;
  border: none;
  background-color: transparent;
}
.iten_button:hover {
  cursor: pointer;
}

/* Explorer Bar */
.explorer_bar {
  height: 6vh;
  background-color: var(--grey);
  box-sizing: border-box;
  padding: 5px;
  display: flex;
}
.start_button {
  display: flex;
}
.win_button {
  width: 100px;
  height: 5vh;
  display: flex;
  align-items: center;
}
.start {
  margin-left: 5px;
}

.win_logo_explorer_bar {
  width: 2vw;
  height: 4vh;
}
.win_icon {
  width: 2vw;
  height: 3vh;
}
.start {
  display: inline;
  font-size: 18px;
}
.space {
  width: 2px;
  height: 35px;
  background-color: black;
  margin-left: 5px;
}
.open_pages {
  width: 90%;
  padding: 0 5px 0 5px;
}
.open_app_tab {
  width: 150px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 2px dashed silver;
}

/* Start menu */
.start_menu {
  background-color: white;
  position: fixed;
  height: 300px;
  width: 200px;
  bottom: 56px;
  left: 2px;
  display: flex;
  padding: 0 0 4px 4px;
}
.start_menu_left_bar {
  background: linear-gradient(360deg, navy, #1084d0);
  height: 300px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}
.left_bar_text {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.start_menu_itens {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.start_menu_item {
  padding: 10px 0 10px 0;
}
.start_menu_item:hover {
  border: 2px solid black;
}

.arrow_right {
  margin-left: 60%;
  font-weight: bold;
}

/* App window*/
.app_window {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
/*App window for calculator*/

.app_window {
  width: 20%;
  height: 20%;
}
/* calculator */
.calculator {
  width: 300px;
  height: 230px;
}
.calculator_window {
  width: 266px;
  height: 350px;
}
.calculadora__pricipal--mostrador {
  width: 100%;
  text-align: end;
  min-height: 40px;
  font-size: 18px;
}
.calculator_buttons {
  padding: 10px 20px 0 20px;
}
.calculator_buttons button {
  min-width: 50px;
  min-height: 50px;
  font-size: 18px;
}
.clearButton {
  margin: 0 0 3px 0;
  display: flex;
  justify-content: space-between;
  width: 98%;
}
.calculator_buttons .clearBtn,
.calculator_buttons .backspace {
  width: 101px;
}
/* WEATHER APP */
.weather_app {
  width: 300px;
  height: 400px;
}
.tempo {
  display: flex;
  flex-wrap: wrap;
}
.cidade {
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  font-size: 17px;
  text-align: center;
}
.weather_app .container {
  text-align: center;
}

/* cep app */
.cep_app {
  width: 600px;
  text-align: center;
}
.cep_app .titulo {
  font-size: 18px;
}
.inputContainer .cepInput {
  font-size: 18px;
  height: 30px;
}
.inputContainer .adicionarBtn {
  font-size: 18px;
  padding: 5px;
}
.mensagemErro {
  font-size: 18px;
  color: red;
  padding: 10px 0 10px 0;
}
.tabela {
  margin: 0 auto;
}
/* table style */
.tableHeadItem {
  border: 2px solid black;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
.tableContent {
  border: 2px solid black;
  font-size: 16px;
  padding: 5px;
  align-items: center;
}

/*CHANGE DISPLAY VIEW*/
.disabled {
  display: none;
}
.enable {
  display: block;
}
