/* WEATHER APP */
.weather_app {
  width: 300px;
  position: absolute;
}
.tempo {
  display: flex;
  flex-wrap: wrap;
}
.cidade {
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  font-size: 17px;
  text-align: center;
}
.weather_app .container {
  text-align: center;
  padding: 10px;
}
